.card {
  margin: 30px;;
  width: 15rem;
  background-color: aqua;
}

.card-title {
  margin-bottom: 15px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 5px !important;
  padding-top: 1px !important;
}
